.gradle
/local.properties
.DS_Store
/build
/captures

.idea
*.iml

# Maven stuff
target

# Ignore Jekyll generated docs
_site/

# Ignore generated docs
misc/assets/

# ignore internal testing files
/app/src/main/assets/DemoAppConfigs.plist
/app/src/main/assets/demo_app_configs.json
/app/src/main/assets/bvsdk_config_staging.json
/app/src/main/assets/bvsdk_config_prod.json
