@font-face {
    font-family: Foral;
    src: url('fonts/foralpro-regularwebfont.woff');
}

@font-face {
    font-family: Gibson;
    src: url('fonts/gibson-regularwebfont.woff');
    
}

.bv_logo {
	font-family: Foral;
	font-size: 34px;
	color:#ffffff;
	text-align: center;
	padding-top: 12px;
}
.bv_logo:hover {
	text-decoration: none;
}
.bv_logo a:hover {
	text-decoration: none;
}
.nav-link {
	color: #FFFFFF;
}
a.nav-link:hover {
	color: #00AB8E;
	background-color: #eee
}
#portal_sidebar .fa {
	display:inherit;
}
.bv_teal {
	color:#00AB8E;
}
.bv_white {
	color:#fff;
}
#application_container {
	background-color:#FFFFF5;
}
#content_title {
	font-size: 44px;
	color:#444;
	font-family: Gibson;
}
.page-container {
	padding: 0px;
	margin: 20px 40px;
}
.gray {
	color: #777;
}
.right-border {
	border-right: 1px solid #888;
}
.h5link {
	color: rgb(21, 157, 123);
}
a {
	color: rgb(21, 157, 123);
}
.code-switcher {
	background-color: #fff;
}
.tab-pane {
	 padding:12px;
	 border-left: 1px solid rgb(213, 213, 213);
	 border-right: 1px solid rgb(213, 213, 213);
	 border-bottom: 1px solid rgb(213, 213, 213);
}
blockquote {
	font-size: 14px;
}
.page-container {
	margin-bottom: 100px;
}
#footer {
	padding-bottom: 14px;
	padding-top: 14px;
}
#portal_nav, #portal_sidebar, .nav-include {
	height:100%;
}
.question {
	/*color:#666;*/
}
.answer {
	color:#777;
}
.index-banner {
    
}
a.index-banner:hover {
	text-decoration: none;
}
.tutorial-carousel {
	padding: 20px 120px;
}
a.left.carousel-control, a.right.carousel-control {
	background-image: none;
}
#carousel-example-generic {
	background-color: #fff;
	border: 1px solid #666;
	border-radius: 10px;
}
.carousel-inner {
	height: 360px;
}
img {
	/*padding-top: 4px;*/
	padding-bottom:10px;
}

th.ui-input-text {
    width: 250px !important
}

step
{
    padding: 5px 10px;
    background-color: #fff;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}

.navbar-header{
	float: none;
	background: #003d4c;
	display: flex;
}

.navbar-header .navbar-toggle button {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-header .navbar-toggle .icon-bar {
	background-color: #fff;
}

.side-nav {
	border: none;
	border-radius: 0;
	overflow-y: auto;
	background-color: #003d4c;
	overflow-x: hidden;
}
@media(min-width:768px) {
	.side-nav {
		position: fixed;
		top: 0px;
		left: 250px;
		width: 250px;
		margin-left: -250px;
		bottom: 0;
		padding-bottom: 40px;
	}

	.side-nav>li>a {
		width: 250px;
	}

	.side-nav li a:hover,
	.side-nav li a:focus {
		outline: none;
		background-color: #fff !important;
	}
}

@media(max-width: 768px) {
	.side-nav .bv_logo {
		display: none;
	}

	#portal_container {
		padding-top: 40px;
	}
}

/*
.side-nav>li>ul {
	padding: 0;
}
*/
.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
}

.side-nav>li>ul>li>a:hover {
	color: #00AB8E;
}

@media(min-width:768px) {
	#portal_container {
		padding-left: 250px;
	}
}

.navbar-nav .nav-item {
	float: none;
	display: flex;
	flex-direction: column;
}

th {
    background-color: #003d4c;
    color: white;
} 

table {
	width: 95%;
 	margin:0 auto;
}

.borderless td, .borderless th {
    border: none;
}
