<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bazaarvoice.bvsdkdemoandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.bazaarvoice.bvsdkdemoandroid.DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_demo_launcher"
        android:roundIcon="@mipmap/ic_demo_launcher"
        android:label="@string/title_activity_demo_app"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme.DarkActionBar">
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.DemoMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.bazaarvoice.bvsdkdemoandroid.recommendations.detail.DemoProductDetailActivity" />
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.ads.BannerAdActivity"
            android:label="@string/title_activity_banner_ad"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.ads.NativeAdActivity"
            android:label="@string/title_activity_native_ad"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.ads.InterstitialAdActivity"
            android:label="@string/title_activity_interstitial_ad"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.curations.detail.DemoCurationsDetailActivity"
            android:label="@string/title_activity_curations_detail"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.curations.feed.DemoCurationsFeedActivity"
            android:label="@string/title_activity_curations_feed"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.curations.DemoCurationsPostActivity"
            android:label="@string/title_activity_curations_post"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.settings.DemoSettingsActivity"
            android:label="@string/settings_launcher_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.cart.DemoCartActivity"
            android:label="@string/title_activity_cart"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.detail.DemoFancyProductDetailActivity"
            android:label="@string/title_activity_fancy_product_detail"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.recshome.DemoRecsHomeActivity"
            android:label="@string/title_activity_demo_app"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
          android:name="com.bazaarvoice.bvsdkdemoandroid.home.DemoHomeActivity"
          android:label="@string/title_activity_demo_app"
          android:screenOrientation="portrait"
          android:taskAffinity="com.bazaarvoice.bvsdkdemoandroid.newhome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.conversations.reviews.DemoReviewsActivity"
            android:label="@string/title_activity_reviews"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.conversations.reviews.DemoStoreReviewsActivity"
            android:label="@string/title_activity_store_reviews"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.conversations.questions.DemoQuestionsActivity"
            android:label="@string/title_activity_questions"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.conversations.answers.DemoAnswersActivity"
            android:label="@string/title_activity_answers"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
          android:name="com.bazaarvoice.bvsdkdemoandroid.conversations.comments.DemoCommentsActivity"
          android:label="@string/title_activity_comments"
          android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.conversations.bulkratings.DemoBulkRatingsActivity"
            android:label="@string/title_activity_bulkratings"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.conversations.productstats.DemoProductStatsActivity"
            android:label="@string/title_activity_product_stats"/>
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.curations.map.DemoCurationsMapsActivity"
            android:label="@string/title_activity_curations_map" />
        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.pin.DemoRateActivity"
            android:label="@string/title_activity_rate" />
        <activity android:name="com.bazaarvoice.bvsdkdemoandroid.author.DemoAuthorActivity"
            android:label="@string/title_activity_author" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the NEXUS_USER key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and NEXUS_USER targets in src/debug/ and src/NEXUS_USER/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".location.DemoLocationReceiver">
            <intent-filter>
                <action android:name="com.bazaarvoice.bvandroidsdk.action.NOTIFICATION_BUTTON_TAPPED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.bazaarvoice.bvsdkdemoandroid.stores.DemoStoresActivity"
            android:label="@string/title_activity_stores"/>
    </application>

</manifest>